.vpr-pull-refresh {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	touch-action: pan-y;
}

.vpr-pull-refresh-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	will-change: transform;
}

.vpr-pull-refresh__scroll {
	position: relative;
	height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
}

.vpr-pull-refresh__scroll.normal {
	overflow: auto;
}

.vpr-pull-refresh__header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	transform: translate3d(0, -100%, 0);
}

.vpr-pull-refresh__header__txt {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}